# You can either specify everything in here (obtainin a sort of launcher)
# or you can specify the variables in the command line.
# You can also specify the variables in a file and source it.
# Anyway there are default values for all the variables, so you can just run
# the script without any arguments and it will show you how to do stuff.
PROTONPATH="/home/<youruser>/ULWGL-launcher-TCS/protons/GE-Proton8-32"
WINEPREFIX="/home/<youruser>/ULWGL-launcher-TCS/PREFIX"
GAMEID="0"
ULWLGDIR="/home/<youruser>/ULWGL-launcher-TCS/launcher"
FILEPATH="regedit"
CUSTOMVARS='{
"DVXK": "1"
}'
